* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Step 3 */
/* setting font */

body {
  font-family:'Times New Roman', Times, serif;
  margin:0;
  padding:0;

  }

/* Step 4 */
/* setting font */

nav {
  background-color: #f8f4eb;
}

/* Step 5 */
/* change height and width of the nav container */

nav {
  background-color: #f8f4eb;
  height: 80px;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/* Step 6 */
/* Style the logo */

label.logo {
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

h1.logo {
  margin-left: 3%;
}
/* Step 7 */
/* Style the nav */

nav ul {
  float: right;
  margin-right: 180px;
}

/* Step 8 */
/* Style the nav */

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

/* Step 9 */
/* Style the link inside the nav */

nav ul li a {
  color: black;
  font-size: 17px;
  text-transform: uppercase;
}

/* Step 10 */
/* Remember to add the class active on the index.html site before adding css below */
/* Style the active link */

a:active,
a:hover {
  background-color: #c5bba5;
  transition: 0.5s;
}

/* Step 11 */
/* updating the style inside the nav */

nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

/* Step 13 */
/* styling the label checkbtn class */
.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}

/* Step 14 */
/* styling the input tag  */
#check {
  display: none;
}

/* Step 15 */
/* styling the label checkbtn class - display none*/
.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

/* Step 16 */
/* adding CSS Media Query - break-point 925px max */

@media (max-width: 925px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }

  h1 {
    padding-top: 20px;
  }
}

/* Step 17 */
/* adding CSS Media Query - break-point 858px max */

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color:white;
    top: 80px;
    left: 0;
    text-align: center;
  }

  /* Step 18 */
  /* Continueing Styling break-point 858px max */

  nav ul li {
    display: block;
  }

  ul {
    left: 100%;
    transition: all 0.5s;
  }

  /* Step 19 */
  /* Continueing Styling break-point 858px max */
  /* adding new selector #check:checked~ */

  #check:checked ~ ul {
    left: 0;
  }

  /* Step 20 */
  /* updating selector - nav ul li */
  /*  adding new properties - margin and line-height*/

  nav ul li {
    margin: 50px 0;
    line-height: 30px;
  }
}

/* Step 21 */
/* styling section tag - outside teh media query */
/* adding new properties background - background-size - height */



/* Step 22 */
/* making the navbar position fixed */